body {
    max-width: 100%;
    overflow-x: hidden;
}

.section {
    padding-top: 100px;
    min-height: 100vh;
}

.btn-cta {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    background: #70E6B9;
    color: #274F57;
    font-weight: 600;
}

.btn-cta:hover {
    background: rgb(120, 255, 203);
    cursor: pointer;
}

* {
    font-family: 'Roboto', sans-serif;}